body {
  background-color: rgb(45, 105, 50);
}

table {
  padding: 5px;
  margin: 24px;
  background-color: rgb(45, 105, 50);
  color: rgb(237, 228, 220);
  border: rgb(237, 228, 220) solid 5px;
  border-collapse: collapse;
}
th,
td,
tr {
  padding: 12px;
  background-color: rgb(146, 45, 45);
  font-size: larger;
  text-align: center;
  border-bottom: rgb(237, 228, 220) solid 2px;
  border-top: rgb(237, 228, 220) solid 6px;
}

h1 {
  color: rgb(237, 228, 220);
  text-shadow: rgb(48, 61, 49) 2px 2px;
}

p1 {
  color: rgb(237, 228, 220);
  text-shadow: rgb(48, 61, 49) 2px 1px;
}

a {
  color: rgb(237, 228, 220);
  font-size: small;
}

a:visited {
  color: rgb(237, 228, 220);
}

footer {
  font-size: xx-small;
}
